<div class="body-wrapper">
  <div class="container container-fluid jumbo-full">
    <div class="content-container">
      <h1 class="push-below-header">Justin Shelton  |  Front End Developer</h1>
      <h2>Video Editor, Music Lover, Gamer, Bowler, Defying Gravity</h2>
    </div>
  </div>
  <div class="container container-fluid jumbo-full jumbo-color">
    <div class="col-md-4 test">
      <h3>Skills</h3>
      <ul class="list-unstyled skills-list">
        <li class="list-group-item"><img src="assets/images/html5.png" width="25px" height="25px"> HTML5</li>
        <li class="list-group-item"><img src="assets/images/css3.png" width="23px" height="23px"> CSS3/SCSS</li>
        <li class="list-group-item"><img src="assets/images/javascript.png" width="25px" height="25px"> JavaScript</li>
        <li class="list-group-item"><img src="assets/images/bootstrap.png" width="21px" height="21px"> Bootstrap</li>
        <li class="list-group-item"><img src="assets/images/jquery.png" width="23px" height="23px"> jQuery</li>
        <li class="list-group-item"><img src="assets/images/angularjs.png" width="28px" height="28px"> AngularJS</li>
        <li class="list-group-item"><img src="assets/images/backbone.png" width="25px" height="25px"> BackboneJS</li>
        <li class="list-group-item"><img src="assets/images/emberjs.png" width="25px" height="25px"> EmberJS</li>
        <li class="list-group-item"><img src="assets/images/git.png" width="27px" height="27px"> Git</li>
        <li class="list-group-item"><img src="assets/images/as3.png" width="21px" height="21px"> ActionScript 3.0</li>
        <li class="list-group-item"><img src="assets/images/dreamweaver.png" width="25px" height="25px"> DreamWeaver</li>
        <li class="list-group-item"><img src="assets/images/photoshop.jpg" width="23px" height="23px"> PhotoShop</li>
        <li class="list-group-item"><img src="assets/images/flash.png" width="23px" height="23px"> Adobe Flash CC 2014</li>
      </u>
    </div>
    <div class="col-md-8">
      <h3>About</h3>
      <div class="about-img-container">
        <a href="https://www.twitter.com/aKaArson88"><i class="fa fa-twitter fa-4x about-icon about-twitter"></i></a>
        <a href="https://www.github.com/jashelton"><i class="fa fa-github fa-4x about-icon about-github"></i></a>
        <a href="https://www.linkedin.com/in/jasheltondev"><i class="fa fa-linkedin fa-4x about-icon about-linkedin"></i></a>
        <img class="about-img" src="assets/images/cityscape-burn.png" width="125%" />
      </div>
      <div class="img-bottom"></div>
    </div>
  </div>
  <div class="navbar-inverse home-footer">
    <ul class="list-unstyled social-list">
      <a href="https://github.com/jashelton" target="_blank"><li><i class="fa fa-github"></i></li></a>
      <a href="https://twitter.com/akaarson88" target="_blank"><li><i class="fa fa-twitter"></i></li></a>
      <a href="https://www.linkedin.com/in/jasheltondev" target="_blank"><li><i class="fa fa-linkedin"></i></li></a>
    </ul>
    <p class="text-muted copyright">Copyright &copy 2015 Justin Shelton</p>
  </div>
</div>
