/* ------ GENERIC STYLES ------ */

.push-below-header {
  margin-top: 70px;
}

.logo {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 5px;
}

.inline-heading {
  display: inline;
}

.full-height {
  height: 100%;
}

.input-container {
  margin-top: 25px;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #00B2EF;
  margin: 1em 0;
  padding: 10px;
  width: 100%;
}


/* ------ END GENERIC STYLES ------ */

/* ------ SHOW STYLES ------ */

.display-icon {
  float: right;
  padding-top: 10px;
  margin-left: 25px;
}

.icon-container a {
  text-decoration: none;
  -webkit-transition: 0.35s all ease;
  -moz-transition: 0.35s all ease;
  -ms-transition: 0.35s all ease;
  -o-transition: 0.35s all ease;
  transition: 0.35s all ease;
}

.icon-container a:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
  transform: scale(1.25);

  -webkit-transition: 0.35s all ease;
  -moz-transition: 0.35s all ease;
  -ms-transition: 0.35s all ease;
  -o-transition: 0.35s all ease;
  transition: 0.35s all ease;
}

.github-icon {
  color: #7b0099;
}

.view-icon {
  color: #006dcc;
}

.work-description {
  padding-left: 0;
}

.img-shadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.img-show-shadow:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

/* ------ END SHOW STYLES ------ */

/* ------ HOME STYLES ------ */

.body-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -100;
  background: linear-gradient(to bottom right, rgba(26, 26, 26, 1) 0%, rgba(26, 26, 26, 0.92) 59%, rgba(26, 26, 26, 1) 100%),
  url('../images/hero-bg.jpg') center fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}

.jumbo-full {
  width: 100%;
  min-height: 100%;
  color: #cdc;
}

.jumbo-full h1, .jumbo-full h2, .jumbo-full h3 {
  font-weight: 100;
  text-align: center;
  letter-spacing: 2px;
}

.jumbo-full h2 {
  font-size: 1.5em;
  color: #707070;
}

.content-container {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -35%);
  -moz-transform: translate(-50%, -35%);
  -o-transform: translate(-50%, -35%);
  -ms-transform: translate(-50%, -35%);
  transform: translate(-50%, -35%);
}

.jumbo-color {
  background-color: rgba(255, 255, 255, 1);
  color: #333;
  min-height: 100%;
}

.list-heading {
  font-weight: bold;
  font-size: 1.3em;
}

.demo-day-container {
  position: relative;
}

.video-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.skills-list li:nth-child(even) {
  background: #fbfbfb;
}

.skills-list img {
  margin-right: 15px;
  margin-left: 5px;
}

.about-img-container {
  position: relative;
}

.about-icon {
  position: absolute;
  color: #1596BB;
  transition: 1s all ease;
}

.about-icon:hover {
  -webkit-animation: iconAnim 0.5s linear 0s 1 forwards;
  -moz-animation: iconAnim 0.5s linear 0s 1 forwards;
  -ms-animation: iconAnim 0.5s linear 0s 1 forwards;
  -o-animation: iconAnim 0.5s linear 0s 1 forwards;
  animation: iconAnim 0.5s linear 0s 1 forwards;
  transition: 1s all ease;
}

@-webkit-keyframes iconAnim {
    0%   {margin-left: 10px;}
    50%  {margin-right: 10px;}
    100% {margin: 0}
}

.about-twitter {
  top: 25px;
  left: 70%;
}

.about-github {
  top: 100px;
  left: 75%;
}

.about-linkedin {
  top: 175px;
  left: 70%;
}

/*.img-bottom {
  width: 100%;
  height: 40px;
  background: #eee;
}*/

/* ------ END HOME STYLES ------ */


/* TUTORIAL MODAL STYLES */

.video-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(66, 66, 66, 0.8);
  z-index: 1000;
  display: none;
}

.video-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.video-modal-clickoff {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
}

.content-block {
  margin-top: 25px;
}

.video-preview {
  cursor: pointer;
  -webkit-transition: 0.35s all ease;
  -moz-transition: 0.35s all ease;
  -ms-transition: 0.35s all ease;
  -o-transition: 0.35s all ease;
  transition: 0.35s all ease;
}

.video-preview:hover {
  -webkit-transition: 0.35s all ease;
  -moz-transition: 0.35s all ease;
  -ms-transition: 0.35s all ease;
  -o-transition: 0.35s all ease;
  transition: 0.35s all ease;
  -webkit-filter: brightness(70%);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
  transform: translateY(-10px);
}

/* END TUTORIAL MODAL STYLES */

/* HEADER STYLES */

.nav-custom {
  border-radius: 0;
  border: none;
  -webkit-animation: headerDrop 1s linear 0s 1 forwards;
  -moz-animation: headerDrop 1s linear 0s 1 forwards;
  -ms-animation: headerDrop 1s linear 0s 1 forwards;
  -o-animation: headerDrop 1s linear 0s 1 forwards;
  animation: headerDrop 1s linear 0s 1 forwards;
  margin-top: -60px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

@-webkit-keyframes headerDrop {
    0%   {margin-top: -60px;}
    50%  {margin-top: 5px;}
    100% {margin-top: 0;}
}

.navbar-list {
  margin-right: -500px;
  -webkit-animation: navlistSlide 1s linear 0.75s 1 forwards;
  -moz-animation: navlistSlide 1s linear 0.75s 1 forwards;
  -ms-animation: navlistSlide 1s linear 0.75s 1 forwards;
  -o-animation: navlistSlide 1s linear 0.75s 1 forwards;
  animation: navlistSlide 1s linear 0.75s 1 forwards;
}

@-webkit-keyframes navlistSlide {
    0%   {margin-right: -500px;}
    50%  {margin-right: 10px;}
    55%  {margin-right: 10px;}
    100% {margin-right: 0;}
}

.navbar-list li {
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
}

.active-border {
  border-bottom: 3px solid #337AB7 !important;
}

/* END HEADER STYLES */

.img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

/* FOOTER STYLES */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 140px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 140px;
  background-color: #333;
  color: #eee;
  text-align: center;
}

.wrap {
  padding-top: 80px;
  padding-bottom: 50px;
}

.home-footer {
  height: 150px;
  width: 100%;
  color: #cdcdcd;
  position: relative;
  text-align: center;
}

.social-list {
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.social-list li {
  display: inline;
  margin-right: 25px;
}

.copyright {
  position: absolute;
  left: 50%;
  bottom: 5px;
  -webkit-transform: translate(-50%, 5px);
  -moz-transform: translate(-50%, 5px);
  -ms-transform: translate(-50%, 5px);
  -o-transform: translate(-50%, 5px);
  transform: translate(-50%, 5px);
}

/* END FOOTER STYLES */


/* COMING SOON STYLES */

.coming-soon-h1 {
  text-align: center;
  margin-bottom: 25px;
}

.coming-soon h3 {
  margin-top: 0;
}

/* END COMING SOON STYLES */
